
.verify-container {
  display: flex;
  height: 100vh;
  background: #fff;
}

.verify-left {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.illustration {
  width: 400%;
  max-height: 100%;
  object-fit: contain;
}

.access-text {
  font-size: 28px;
  margin-top: 15px;
  font-weight: 600;
}

.yellow {
  color: #f5c400;
}

/* RIGHT SIDE */
.verify-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ffffff, #fff8dc, #ffeeb8);
}

.verify-box {
  width: 75%;
  text-align: center;
}

.verify-title {
  font-size: 22px;
  color: #111;
}

.verify-brand {
  font-size: 32px;
  margin-bottom: 20px;
}

.verify-brand span {
  font-size: 18px;
  font-weight: 400;
}

.otp-card {
  background: #e0ecf7;
  padding: 12px 16px;
  padding-left: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.otp-header {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.auth-icon {
  width: 18px; 
  height: 18px;
}

.otp-title {
  font-size: 14px;
  font-weight: 800px;
  margin-bottom: 4px;
}

.otp-sub {
  font-size: 10px;
  margin-top: 5px;
  color: #5F5F5F;
  margin-left: 25px;
}

.otp-input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.otp-error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.back-btn {
  border: 1px solid #d4a118;
  background: transparent;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.verify-btn {
  background: #4e4e4e;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.otp-time {
  margin-top: 20px;
  font-size: 13px;
  color: #555;
}

.resend-text {
  color: #555;
}

.resend-link {
  color: #005dff;
  cursor: pointer;
  font-weight: 400;
}

.welcome-img {
  width: 180px;     
  height: auto;
  display: block;
  margin: 0 auto 60px auto;
}
