.auth-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.auth-left {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.auth-right {
  flex: 1;
  background: linear-gradient(to bottom right, #ffffff, #fff7dd, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-box {
  width: 420px;
  max-width: 100%;
  text-align: center;
}

.auth-box h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px; 
  text-align: center;
}

.auth-box p {
  margin-bottom: 25px;
  color: #666;
  text-align: center;
  line-height: 1.5;
}

.auth-box input {
  width: 430px;
  height: 44px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

.auth-box input:focus {
  border: 1px solid #FFCC00;
}

.auth-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}

.btn-group {
  width: 430px;       
  display: flex;
  gap: 30px;         
}

.back-btn,
.continue-btn {
  flex: 1;         
  height: 44px;      
  padding: 12px 0 !important;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.back-btn {
  padding: 12px 0;    
  border: 1px solid #d4a106;
  background: transparent;
  color: #d4a106;
}

.continue-btn {
  background: #333;
  color: white;
  border: none;
}

.continue-btn.active {
  background-color: #FFCC00;
  color: #000;
  border: 1px solid #FFCC00;
}

.auth-box p.error-text {
  margin-top: 6px;
  font-family: "Sk-Modernist";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #EB1D2E;
  text-align: left !important;
  line-height: normal !important;

}

.input-error {
  border-color: #EB1D2E !important;
  box-shadow: 0 0 4px rgba(235, 29, 46, 0.4);
}
