.login-container {
  display: flex;
  width: 100%;
  height: 100%;   /* NOW this works perfectly */
}


.login-left {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.welcome-img {
  width: 180px;     
  height: auto;
  display: block;
  margin: 0 auto 60px auto;
}

.login-left .illustration {
  width: 400%;
  max-height: 100%;
  object-fit: contain;
}

.login-right {
  flex: 1;
  background: linear-gradient(to bottom right, #ffffff, #fff7dd, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;   
  padding: 20px;
}

.login-box {
  width: 420px;      
  height: 451px;     
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6px;
}

.login-subtitle {
  color: #555;
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background: #fff;
}

.form-group input:focus {
  border-color: #FFCC00 !important;
  box-shadow: 0 0 4px rgba(255, 204, 0, 0.5);
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 35px;
}

.password-wrapper .eye {
  position: absolute;
  right: 10px;
  top: 11px;
  cursor: pointer;
  font-size: 16px;
  color: #777;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Sk-Modernist";
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.remember-me input {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 10px;
  transform: translateY(4px);
}

.forgot {
  font-size: 14px;
  font-family: "Sk-Modernist";
  font-weight: 700;
  color: #D8AD00;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  background: #818089;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login-btn.active-btn {
  background: #FFCC00 !important;
  color: #000 !important;
}

.error-text {
  margin-top: 6px;
  font-family: "Sk-Modernist";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #EB1D2E;
}

.input-error {
  border-color: #EB1D2E !important;
  box-shadow: 0 0 4px rgba(235, 29, 46, 0.4);
}
