* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Sk-Modernist", sans-serif;
  font-size: 14px;
  color: #333;
}

#root {
  width: 100%;
  height: 100%;
  text-align: left;
}

