* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ip-block-container {
  width: 100%;
  height: 100vh;
  background: #fffef7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-block-box {
  width: 60%;
  max-width: 750px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  text-align: left;
  font-family: "Inter", sans-serif;
  display: flex;        
  align-items: flex-start; 
  gap: 20px;
  margin-bottom: 50px;
}

.ip-icon {
  height: 100px;
  width: 100px;
}

.ip-title {
  color: #d9534f;
  font-size: 22px;
  margin-bottom: 15px;
}

.ip-description {
  color: #444;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.ip-reasons ul {
  margin-top: 5px;
  margin-left: 20px;
}

.ip-actions {
  margin-top: 20px;
  margin-bottom: 30px;
}

.unlock-btn {
  background: #ffcf33;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.unlock-right {
  float: right;  
}

.unlock-btn:hover {
  background: #e6b82d;
}


.disabled-container {
  width: 100%;
  height: 100vh;
  background: #fffef7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 60%;
  max-width: 860px;
  padding: 35px 45px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.08);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-bottom: 70px;
}

.disabled-icon {
  width: 95px;
  height: 95px;
}

.disabled-content {
  display: flex;
  flex-direction: column;
}

.disabled-title {
  font-size: 22px;
  font-weight: 600;
  color: #d9534f;
  margin-bottom: 10px;
}

.disabled-content p {
  font-size: 15px;
  color: #444;
  margin: 2px 0;
  line-height: 22px;
}
