* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ip-block-container {
  width: 100%;
  height: 100vh;
  background: #fffef7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-block-box {
  width: 60%;
  max-width: 750px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  text-align: left;
  font-family: "Inter", sans-serif;
  display: flex;        
  align-items: flex-start; 
  gap: 20px;
  margin-bottom: 50px;
}

.ip-icon {
  height: 100px;
  width: 100px;
}

.ip-title {
  color: #d9534f;
  font-size: 22px;
  margin-bottom: 15px;
}

.ip-description {
  color: #444;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.ip-reasons ul {
  margin-top: 5px;
  margin-left: 20px;
}

.ip-actions {
  margin-top: 20px;
  margin-bottom: 30px;
}

.unlock-btn {
  background: #ffcf33;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.unlock-right {
  float: right;  
}

.unlock-btn:hover {
  background: #e6b82d;
}


.disabled-container {
  width: 100%;
  height: 100vh;
  background: #fffef7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 60%;
  max-width: 860px;
  padding: 35px 45px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.08);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-bottom: 70px;
}

.disabled-icon {
  width: 95px;
  height: 95px;
}

.disabled-content {
  display: flex;
  flex-direction: column;
}

.disabled-title {
  font-size: 22px;
  font-weight: 600;
  color: #d9534f;
  margin-bottom: 10px;
}

.disabled-content p {
  font-size: 15px;
  color: #444;
  margin: 2px 0;
  line-height: 22px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #fffef7;
}

.stat-card {
  width: 211.2px; 
  height: 101px;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px 16px; 
  border: 1px solid #e0e0e0;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-icon {
  display: none; 
}

.stat-icon-right {
  width: 24px;
  height: 24px;
}

.stat-icon-right img {
  width: 100%;
  height: 100%;
}

.change {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.change img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.closing-soon {
  color: #ff6b6b;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.green-text {
  color: #28a745;
  font-weight: 600;
}

.grey-text {
  color: #6c757d;
}

.value {
  font-size: 14px;
  font-weight: bold;
  margin: 0; 
}
.value-change {
  font-size: 14px;
}

.change.today {
  color: #007bff;
}

.change.closing {
  color: #ff6b6b;
}

.change.default {
  color: #6c757d;
}

.red {
  background-color: #ffe5e5;
}

.green {
  background-color: #e5f9e7;
}

.blue {
  background-color: #e5f0ff;
}
