.forgot-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.forgot-left {
  flex: 1;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.forgot-right {
  flex: 1;
  background: linear-gradient(to bottom right, #ffffff, #fff7dd, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;     
  min-height: 100vh;   
  padding: 20px;
}

.forgot-box h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px; 
  text-align: center;
}

.forgot-box p {
  margin-bottom: 25px;
  color: #666;
  text-align: center;
  line-height: 1.5;
}


.forgot-box input {
  width: 430px;
  height: 44px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  gap: 10px; 
}

.back-btn {
  padding: 12px 70px;  
  border-radius: 8px;
  height: 44px;
  border: 1px solid #d4a106;
  background: transparent;
  color: #d4a106;
  cursor: pointer;
}

.continue-btn {
  padding: 12px 70px;  
  height: 44px;
  border-radius: 8px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.continue-btn.active {
  background-color: #FFCC00;
  color: #000;
  border: 1px solid #FFCC00;
}

.forgot-box input:focus {
  border: 1px solid #FFCC00;
}

.forgot-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}

.caption {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.caption span {
  color: #f5c519;
}
